{% extends 'base-vue.html' %}

{% block content %}
    
    <div id="app"></div>
    <div class="testcontent">
        <p style="font: cursive; font-size: larger;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque minima quod temporibus iure illum facere accusantium! Aut ex nisi ad possimus accusamus dolore rem minima temporibus modi et reiciendis quibusdam excepturi at quidem vitae cumque ut beatae, minus animi! Vitae corrupti eveniet, obcaecati cum autem ratione accusantium magni? Distinctio, quasi quam. Laudantium, delectus quas facere, debitis repellat veniam, ullam non repellendus inventore fuga placeat eius doloribus qui totam iusto aliquam excepturi optio officia sequi necessitatibus veritatis! Impedit maiores labore unde nostrum cupiditate deserunt cumque. Ex accusantium ipsum nemo commodi debitis id, magnam magni ipsam labore asperiores, nulla rerum? At, nisi!</p>
    </div>

{% endblock %}

